<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xd.aselab.chinabankmanager"
    android:versionCode="2"
    android:versionName="2.0">

    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 高德地图权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 极光推送 -->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/manager"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0d64ee466ee5897caa20929c38a69e17" />

        <!-- 友盟统计数据 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57d74ecbe0f55a4697000d96" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="ChinaBankManager" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".activity.StartActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Login"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.MainActivity_Base"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.MyPerformance"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.NewGroup"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.Group_info"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.ShopManage"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.MyContact"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".my.PersonalInfo"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.ChangePsw"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.ChangeTel"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.PerformanceChart"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.PerformanceDetail"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.MainActivity_Boss"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.PerformanceRanking"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.MyManagement"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.MyPerfTransparent"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/Translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.MyPerformanceBase"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.PerfRankTransparent"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/Translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.BaseInfo"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.BaseInfoTransparent"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/Translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.BasePerformance"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.MyManageBase"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.ShopInfo"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.ShopPerformance"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.ShopJoin"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.ShopRelease"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.MyQRcode"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.MyContactTrans"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/Translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.ShopInfoTransparent"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/Translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.ChinaBankBenefit"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.MainHotCardDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.MainHotRecommenderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.ShopJoinTransparent"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/Translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.ShopReleaseTransparent"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/Translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CBBenefitDetail"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CBNetwork"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.WhereToGo"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.WalkingRoute"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.SecureQuestionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.ForgetPsw1Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.ForgetPsw2Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.ForgetPsw3Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.MainActivity_all"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.KafenqiActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".gerenxiaodai.GerenxiaodaiActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.KMyPreformenceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.KWorkerManage.activity.KWorkerManageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.KOnlineCommunicate.KOnlineCommuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.KOnlineCommunicate.KContactChooseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.KWorkerManage.activity.WorkerPerformenceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.KWorkerManage.activity.KWorkerJoinCheckActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.KWorkerManage.activity.KWorkerCancelCheckActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.KWorkerManage.activity.WorkerPerformanceDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.KWorkerManage.activity.RecommendListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.KWorkerManage.activity.KWorkerJoinTransparentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/Translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.KWorkerManage.activity.KWorkerCancelTransparentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/Translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.ChangePhotoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".photo.GalleryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".photo.AlbumActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.KWorkerManage.activity.NewNotificationDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".my.BaseMyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".my.ManagerMyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".my.BaseMyAllPerformanceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".my.ManagerMyAllPerformanceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.KPublishAnnouncement.SelectPromoterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.KPublishAnnouncement.AnnouncementPublish"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.KWorkerManage.activity.KMyContactsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.KWorkerManage.activity.KMyContactsTransparentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/Translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- 省行管理者部分 -->
        <activity
            android:name=".kafenqi.ProvincialBankManager.KSubManagerPerformanceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.ProvincialBankManager.KSubManagerPerformanceDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.ProvincialBankManager.KCustomerManagerPerformanceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.ProvincialBankManager.KCustomerManagerPerformanceDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.ProvincialBankManager.KafenqiFirstActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.ProvincialBankManager.KSubManagerPerformanceActivity2"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.ProvincialBankManager.K4SShopPerformanceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.ProvincialBankManager.K4SShopPerformanceDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.xd.aselab.chinabankmanager" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />
        <receiver
            android:name=".util.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.xd.aselab.chinabankmanager" />
            </intent-filter>
        </receiver>
        <receiver android:name=".util.jpush.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.xd.aselab.chinabankmanager" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <activity
            android:name=".kafenqi.KWorkerManage.activity.NewNotificationDetail2Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.manager.MannagerKafenqiActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.manager.BasePerformanceRandkingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.manager.KBasePerformanceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.manager.KafenqiBasePerfDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".my.BasePerfAllListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".marketingGuide.MarketingGuide"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".kafenqi.KWorkerManage.activity.NewNotificationDetailNewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".chat.ui.ChatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".chat.ui.GroupChatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.mabeijianxi.smallvideorecord2.MediaRecorderActivity" />
        <activity
            android:name=".marketingGuide.MarketingGuideNew"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
    </application>

</manifest>